.jumbotron {
    position: relative;
    background: #000 url("../images/cover.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.list-inline{display:block;}
.list-inline li{display:inline-block;}
.list-inline first-child {content: ""; }
.list-inline li:before {content: ", ";}
.list-inline li:first-child:before {content: "";}

.list-inline-facebook{display:block;}
.list-inline-facebook li{display:inline-block;}

.list-inline-button{display:block;}
.list-inline-button li{display:inline-block;}
